.profileBannerHeader {
  margin: 0 auto;
}

.card-body {
  margin: 0 auto;
}

.profileImg {
  border-radius: 50%;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 3px solid rgb(53, 53, 53);
}

.profileText {
  margin: 0 auto;
}